<h1 align="center">
 {{ project_name }} {{ project_emoji }}
</h1>

<h3 align="center">
	{{ project_short_description }}
</h3>

## Installation

```bash
git clone {{ project_url }}.git
cd {{ project_slug }}
yarn install && yarn link

# to be able to call the CLI, you must add the result of `yarn global bin` to your $PATH
# e.g. echo "export PATH=$PATH:$(yarn global bin)" >> ~/.zshrc
{{ binary_name }} # see CLI usage documentation below
```

## Development

```bash
git clone {{ project_url_git }}.git
cd {{ project_slug }}
yarn install

# Here are the available scripts:
yarn ncu # check for package updates
yarn sort # sort package.json
yarn detect-circular-dependencies # detect circular deps with Madge
yarn lint # run ESLint
yarn prettier # prettify all files
yarn test # run Jest tests
yarn dev # run Nodemon (build everything!)
```

## CLI

### Usage

<!-- usage -->
<!-- usagestop -->

## Commands

<!-- commands -->
<!-- commandsstop -->

## License

This project is published under the {{ project_license }} license.

## Contributing

Contributions are what make the open source community such an amazing place to be, learn, inspire, and create. Any contributions you make are greatly appreciated!
